@import "reset";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap');
@import "corrections/index.css";

a {
  text-decoration:none 
}

.top-menu {
  background-color: #040419;
  display: flex;
  width: 100vw;
  height: 110px;
  margin: 0px;
}

.menu-icon {
  width: 35px;
  margin: 35px;
}

.rogo {
  height: 50px;
  margin-top: 32px;
}

.rogin-menu {
  font-size: 16px;
  margin-top: 40px;
  margin-left: calc(100vw - 128.27px - 105px - 130px);
  font-family: 'Noto Sans JP', sans-serif;
}
.rogin {
  color: #dedede;
  text-decoration: none;
}

/* 下記はbody全体の設定 */
.wall {
  background-color: #040419;
  height: calc(100vh - 110px - 200px);
}