@import "reset";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap');
@import "corrections/index.css";
@import "devise/sessions/new.css";

a {
  text-decoration:none 
}

.top-menu {
  background-color: #ebeded;
  display: flex;
  width: 100vw;
  height: 80px;
  margin: 0px;
  padding: 22px 31px 0px 31px;
}

.m-icon{
  margin-top: 10px;
}


nav{
  background-color: #f4f4f4;
  position: absolute;
  z-index: 1;
  top: 100px;
  left: 0;
  overflow-x: hidden;
  text-align: center;
  width: 0;
  font-size: 17px;
  transition: 0.2s;
  /* width: 0;
  position: absolute;
  z-index: 1;
  overflow-x: hidden;
  left: 0px;
  top: 100px;
  padding: 31px;
  color: #606060;
  transition: .5s; */
}

nav.open-menu {
  width: 35%;
}

.manu-image {
  width: 31px;
  height: 31px;
  margin-right: 31px;
  text-align: center;
}

.border {
  border-bottom: 1px solid #7a7a7a;
  margin: 15px 0px 15px 50px;
  width: 70%;
}

.pull-down-list{
  padding: 17px 35px 17px 15px;
  margin-left: 31px;
  display: flex;
  color: #606060;
}

.rogo {
  width: 174px;
  margin-left: 35px;
  margin-top: 2px;
}

.rogin-menu {
  font-size: 19px;
  margin-top: 6px;
  margin-left: calc(100vw - 174px - 105px - 130px - 28px - 15px);
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 400; 
  display: flex;

}

.rogin_image {
  margin-right: 11px;
}

.rogin {
  color: #606060;
  text-decoration: none;
}

/* 下記はbody全体の設定 */
.wall {
  background-color: #040419;
  height: calc(100vh - 110px - 200px);
}

*= require_tree .
*= require_self
